
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var jqueryUiCss = !string.IsNullOrWhiteSpace(ViewBag.CDN) ? $"{ViewBag.CDN}/Content/jquery/jquery-ui/jquery-ui.min.css" : "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css";
    var jqueryUiJs = !string.IsNullOrWhiteSpace(ViewBag.CDN) ? $"{ViewBag.CDN}/Content/jquery/jquery-ui/jquery-ui.min.js" : "https://code.jquery.com/ui/1.12.1/jquery-ui.js";
}

<!-- Custom styles for this page -->
<link href="~/css/chat.css" rel="stylesheet">
<link rel="stylesheet" href="@jqueryUiCss">

<div class="container">
    <div class="text-md-center my-3">
        <h1 class="h3 mb-3 font-weight-light"><i class="fas fa-comments"></i> Chat</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-row my-2">
                <div class="col">
                    <label class="d-none" for="utterance">Type something below</label>
                    <input type="text" class="form-control form-control-lg" id="utterance" placeholder="Ask something..." onkeydown="HandleKey(event)" required>
                </div>
                <div class="col-auto">
                    <button id="ask" class="btn btn-outline-primary btn-lg" onclick="Speak()">
                        Ask<span class="d-none d-sm-inline"> Away!</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="div_chat_list"></div>
                    <div class="p-1">
                        <small class="text-black-50">
                            Last updated at <span id="timestamp"></span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p class="lead">
                The Chatbot is powered by a
                <a target="_blank" href="https://www.luis.ai/home">language understanding api</a>
                to handle questions about weather, stocks and greetings.
                Chatbot requires some free-ish apis to answer questions.
            </p>
            <ul>
                <li>
                    Language Understanding (LUIS) -
                    <small class="text-black-50">
                        LUIS enables you to integrate natural language understanding into your chatbot or other application without having to create the complex part of machine learning models.
                        <a target="_blank" href="https://www.luis.ai/welcome">
                            <i class="fa fa-external-link-square-alt"></i>
                        </a>
                    </small>
                </li>
                <li>
                    Google Geocode -
                    <small class="text-black-50">
                        The Geocoding API is a service that provides geocoding and reverse geocoding of addresses.
                        <a target="_blank" href="https://developers.google.com/maps/documentation/geocoding/start">
                            <i class="fa fa-external-link-square-alt"></i>
                        </a>
                    </small>
                </li>
                <li>
                    DarkSky -
                    <small class="text-black-50">
                        The Dark Sky API allows you to look up the weather anywhere on the globe.
                        <a target="_blank" href="https://darksky.net/dev/docs">
                            <i class="fa fa-external-link-square-alt"></i>
                        </a>
                    </small>
                </li>
                <li>
                    Alpha Vantage -
                    <small class="text-black-50">
                        This suite of APIs provide realtime and historical global equity data in 4 different temporal resolutions: (1) daily, (2) weekly, (3) monthly, and (4) intraday. Daily, weekly, and monthly time series contain 20+ years of historical data.
                        <a target="_blank" href="https://www.alphavantage.co/documentation/">
                            <i class="fa fa-external-link-square-alt"></i>
                        </a>
                    </small>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="@jqueryUiJs"></script>
<script src="~/js/Chat/Index.cshtml.js"></script>