@model FooterViewModel

<footer class="border-top py-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <small class="d-block mb-3 text-muted">
                    <i class="far fa-copyright"></i>
                    <a class="text-muted" asp-area="" asp-controller="Home" asp-action="Index">Smitha</a> @DateTime.Now.Year
                </small>
                <ul class="list-unstyled text-small">
                    @if (Model.CanAccessFeatures)
                    {
                        <li><a class="text-muted" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    }
                    <li><a class="text-muted" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fas fa-user-secret"></i> Privacy</a></li>
                </ul>
            </div>
            @if (Model.CanAccessFeatures)
            {
                <div class="col-md-3">
                    <h5>Entities</h5>
                    <ul class="list-unstyled text-small">
                        @{
                            for (int i = 0; i < Model.Entities.Count; i++)
                            {
                                var entity = Model.Entities[i];
                                var css = i > 5 ? "d-none entity" : string.Empty;
                                var url = $"{Url.Action("About", "Home")}#{entity}";
                                <li class="@css">
                                    <a href="@url" class="text-muted">
                                        @entity
                                    </a>
                                </li>
                            }
                            if (Model.Entities.Count > 5)
                            {
                                <li>
                                    <a href="#" class="text-muted" onclick="event.preventDefault(); $('.entity').toggleClass('d-none ')">
                                        Show all
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            }
            <div class="col-md-3">
                <small class="d-block mb-3 text-muted">
                    <i class="fas fa-layer-group"></i> Features
                </small>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" asp-area="" asp-controller="Register" asp-action="Index">
                            <i class="fas fa-store-alt"></i> Store
                        </a>
                    </li>
                    <li>
                        <a class="text-muted" asp-area="" asp-controller="Orders" asp-action="Index">
                            <i class="fas fa-history"></i> Orders
                        </a>
                    </li>
                    <li>
                        <a class="text-muted" asp-area="" asp-controller="Chat" asp-action="Index">
                            <i class="fas fa-comments"></i> Chat
                        </a>
                    </li>
                    <li>
                        <a class="text-muted" asp-area="" asp-controller="Theme" asp-action="Index">
                            <i class="fas fa-palette"></i> Themes
                        </a>
                    </li>
                    @if (Model.CanAccessFeatures)
                    {
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="Users" asp-action="Index">
                                Users
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="Merchants" asp-action="Index">
                                Merchants
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="Items" asp-action="Index">
                                Items
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="Orders" asp-action="Index">
                                Orders
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="Payments" asp-action="Index">
                                Payments
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="Customers" asp-action="Index">
                                Customers
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="MerchantUsers" asp-action="Index">
                                Merchant Users
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="Roles" asp-action="Index">
                                Roles
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="Permissions" asp-action="Index">
                                Permissions
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="RolePermissions" asp-action="Index">
                                Roles Permissions
                            </a>
                        </li>
                    }
                </ul>
</div>
            @if (Model.CanAccessTypes)
            {
                <div class="col-md-3">
                    <h5>Types</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="MerchantTypes" asp-action="Index">
                                Merchant Types
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="ItemTypes" asp-action="Index">
                                Item Types
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="OrderStatusTypes" asp-action="Index">
                                Order Status Types
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="PaymentStatusTypes" asp-action="Index">
                                Payment Status Types
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="PaymentTypes" asp-action="Index">
                                Payment Types
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="PriceTypes" asp-action="Index">
                                Price Types
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" asp-area="" asp-controller="UnitTypes" asp-action="Index">
                                Unit Types
                            </a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</footer>