@model SidebarViewModel


<!-- Sidebar -->
    <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <li>
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-toolbox"></i>
                </div>
                <div class="sidebar-brand-text mx-3">
                    Toolbox
                </div>
            </a>
        </li>

        <li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
        </li>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <!-- Divider -->
            <hr class="sidebar-divider">
        </li>
        <li>
            <!-- Heading -->
            <div class="sidebar-heading">
                Features
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Register">
                <i class="fas fa-fw fa-store-alt"></i>
                <span>Store</span>
            </a>
        </li>
        @if (Model.AccessOrders)
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Orders">
                    <i class="fas fa-fw fa-history"></i>
                    <span>Orders</span>
                </a>
            </li>
        }
        @if (Model.AccessItems)
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Items">
                    <i class="fas fa-fw fa-gifts"></i>
                    <span>Items</span>
                </a>
            </li>
        }
        @if (Model.AccessCustomers)
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Customers">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Customers</span>
                </a>
            </li>
        }
        <li>
            <hr class="sidebar-divider">
        </li>

        <li>
            <div class="sidebar-heading">
                Admin
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Users">
                <i class="fas fa-fw fa-user-lock"></i>
                <span>Users</span>
            </a>
        </li>
        @if (Model.AccessMerchants)
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Merchants">
                    <i class="fas fa-fw fa-building"></i>
                    <span>Merchants</span>
                </a>
            </li>
        }
        @if (Model.AccessThemes)
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Themes">
                    <i class="fas fa-fw fa-palette"></i>
                    <span>Themes</span>
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Applications">
                <i class="fas fa-fw fa-sitemap"></i>
                <span>Applications</span>
            </a>
        </li>
        @if (Model.AccessBlog)
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Blog">
                    <i class="fas fa-fw fa-rss-square"></i>
                    <span>Blog</span>
                </a>
            </li>
        }
        @*@if (Model.AccessRoles)
        {
            <li class="nav-item">

                <a class="nav-link" asp-action="Index" asp-controller="Roles">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>Roles</span>
                </a>
            </li>
        }
        @if (Model.AccessPermissions)
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Permissions">
                    <i class="fas fa-fw fa-lock"></i>
                    <span>Permissions</span>
                </a>
            </li>
        }

        @if (Model.AccessRolePermissions)
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="RolePermissions">
                    <i class="fas fa-fw fa-user-lock"></i>
                    <span>Role Permissions</span>
                </a>
            </li>
        }*@

        <!-- Nav Item - Pages Collapse Menu -->
        @*<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Features</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Features:</h6>
                    @if (Model.AccessBlog)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="Blog">
                            Blog
                        </a>
                    }
                    @if (Model.AccessMerchants)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="Merchants">
                            Merchants
                        </a>
                    }

                    @if (Model.AccessOrders)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="Orders">
                            Orders
                        </a>
                    }
                    @if (Model.AccessItems)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="Items">
                            Items
                        </a>
                    }
                    @if (Model.AccessCustomers)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="Customers">
                            Customers
                        </a>
                    }
                    @if (Model.AccessRoles)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="Roles">
                            Roles
                        </a>
                    }
                    @if (Model.AccessPermissions)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="Permissions">
                            Permissions
                        </a>
                    }

                    @if (Model.AccessRolePermissions)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="RolePermissions">
                            Role Permissions
                        </a>
                    }
                    @if (Model.AccessThemes)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="Themes">
                            Theme
                        </a>
                    }
                </div>
            </div>
        </li>*@

        @*<li>
            <hr class="sidebar-divider">
        </li>

        <li>
            <div class="sidebar-heading">
                More
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Themes">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Types</span>
            </a>
        </li>*@
        @*<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Types</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Types:</h6>
                    @if (Model.AccessBlogCategoryTypes)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="BlogCategoryTypes">
                            Blog Category Types
                        </a>
                    }
                    @if (Model.AccessBlogStatusTypes)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="BlogStatusTypes">
                            Blog Status Types
                        </a>
                    }
                    @if (Model.AccessItemTypes)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="ItemTypes">
                            Item Types
                        </a>
                    }
                    @if (Model.AccessMerchantTypes)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="MerchantTypes">
                            Merchant Types
                        </a>
                    }
                    @if (Model.AccessOrderStatusTypes)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="OrderStatusTypes">
                            Order Status Types
                        </a>
                    }
                    @if (Model.AccessPaymentStatusTypes)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="PaymentStatusTypes">
                            Payment Status Types
                        </a>
                    }
                    @if (Model.AccessPaymentTypes)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="PaymentTypes">
                            Payment Types
                        </a>
                    }
                    @if (Model.AccessPriceTypes)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="PriceTypes">
                            Price Types
                        </a>
                    }
                    @if (Model.AccessUnitTypes)
                    {
                        <a class="collapse-item" asp-action="Index" asp-controller="UnitTypes">
                            Unit Types
                        </a>
                    }
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="login.html">Login</a>
                    <a class="collapse-item" href="register.html">Register</a>
                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span>
            </a>
        </li>*@

        <li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        </li>

        <li class="text-center">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </li>

    </ul>
<!-- End of Sidebar -->