
  <div class="list-group">
    <a class="list-group-item list-group-item-action"
       [routerLink]="['/profile']"
       [routerLinkActive]="['active']"
       [routerLinkActiveOptions]="{ exact: true }">
      Profile
    </a>
    <a class="list-group-item list-group-item-action"
       [routerLink]="['/edit-profile']"
       [routerLinkActive]="['active']"
       [routerLinkActiveOptions]="{ exact: true }">
      Edit Profile
    </a>
    <a class="list-group-item list-group-item-action"
       [routerLink]="['/change-password']"
       [routerLinkActive]="['active']"
       [routerLinkActiveOptions]="{ exact: true }">
      Change Password
    </a>
  </div>
