@model LoginViewModel
@{
    ViewData["Title"] = "Sign in";
    Layout = "_NoNavLayout";
}


<!-- Custom styles for this page-->

<link href="~/css/login.css" rel="stylesheet">

<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <form class="form-signin" method="post" asp-controller="Home" asp-action="Login">

                                <div class="text-md-center mb-4">
                                    <h1 class="h3 mb-3 font-weight-light"><i class="fas fa-sign-in-alt"></i> Sign in</h1>
                                    @Html.ValidationMessage("CustomError")
                                </div>

                                <div class="form-label-group">
                                    <input asp-for="Username" class="form-control" placeholder="Username" required autofocus />
                                    <label asp-for="Username"></label>
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" required />
                                    <label asp-for="Password"></label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                                <a asp-action="SignUp" asp-controller="Home" class="btn btn-lg btn-secondary btn-block">
                                    Sign up
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



