@{
    ViewData["Title"] = "Privacy Policy";
}


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <section class="pb-4">
                <div class="text-md-center my-3">
                    <h1 class="h2 mb-3 font-weight-light"><i class="fas fa-user-secret"></i> @ViewData["Title"]</h1>
                </div>
                <p class="lead">
                    This website uses cookies for user sessions, security mesaures, analytics and remembering your answer to this cookie policy.
                </p>
            </section>
        </div>
    </div>
</div>