@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="row mt-2">
        @if (Model.AccessBlog)
        {
            <div class="col-md-3 mb-4">
                <a asp-action="Index" asp-controller="Blog" class="btn btn-outline-primary btn-lg btn-block">
                    Blog
                </a>
            </div>
        }
        @if (Model.AccessMerchants)
        {
            <div class="col-md-3 mb-4">
                <a asp-action="Index" asp-controller="Merchants" class="btn btn-outline-primary btn-lg btn-block">
                    Merchants
                </a>
            </div>
        }

        @if (Model.AccessOrders)
        {
            <div class="col-md-3 mb-4">
                <a asp-action="Index" asp-controller="Orders" class="btn btn-outline-primary btn-lg btn-block">
                    Orders
                </a>
            </div>
        }
        @if (Model.AccessItems)
        {
            <div class="col-md-3 mb-4">
                <a asp-action="Index" asp-controller="Items" class="btn btn-outline-primary btn-lg btn-block">
                    Items
                </a>
            </div>
        }
        @if (Model.AccessCustomers)
        {
            <div class="col-md-3 mb-4">
                <a asp-action="Index" asp-controller="Customers" class="btn btn-outline-primary btn-lg btn-block">
                    Customers
                </a>
            </div>
        }
        @if (Model.AccessRoles)
        {
            <div class="col-md-3 mb-4">
                <a asp-action="Index" asp-controller="Roles" class="btn btn-outline-primary btn-lg btn-block">
                    Roles
                </a>
            </div>
        }
        @if (Model.AccessPermissions)
        {
            <div class="col-md-3 mb-4">
                <a asp-action="Index" asp-controller="Permissions" class="btn btn-outline-primary btn-lg btn-block">
                    Permissions
                </a>
            </div>
        }

        @if (Model.AccessRolePermissions)
        {
            <div class="col-md-3 mb-4">
                <a asp-action="Index" asp-controller="RolePermissions" class="btn btn-outline-primary btn-lg btn-block">
                    Role Permissions
                </a>
            </div>
        }
        @if (Model.AccessThemes)
        {
            <div class="col-md-3 mb-4">
                <a asp-action="Index" asp-controller="Themes" class="btn btn-outline-primary btn-lg btn-block">
                    Themes
                </a>
            </div>
        }
        <div class="col-md-3 mb-4">
            <a asp-action="Index" asp-controller="Applications" class="btn btn-outline-primary btn-lg btn-block">
                Applications
            </a>
        </div>
    </div>
@*<div class="row">
    <div class="col">
        <h3>Entities</h3>
        <ul class="list-unstyled mt-2">
            @foreach (var controllerActionPermission in Model.UserPermissions.Where(x => !x.Controller.Contains("Types")))
            {
                <li>
                    <a asp-action="Index" asp-controller="@controllerActionPermission.Controller">
                        @controllerActionPermission.Controller
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="col">
        <h3>Types</h3>
        <ul class="list-unstyled mt-2">
            @foreach (var controllerActionPermission in Model.UserPermissions.Where(x => x.Controller.Contains("Types")))
            {
                <li>
                    <a asp-action="Index" asp-controller="@controllerActionPermission.Controller">
                        @controllerActionPermission.Controller
                    </a>
                </li>
            }
        </ul>
    </div>
</div>*@