@model rod.Item

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDescription" class="control-label"></label>
                <input asp-for="ItemDescription" class="form-control" />
                <span asp-validation-for="ItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemTypeID" class="control-label"></label>
                <select asp-for="ItemTypeID" class="form-control" asp-items="ViewBag.ItemTypeID"></select>
                <span asp-validation-for="ItemTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MerchantID" class="control-label"></label>
                <select asp-for="MerchantID" class="form-control" asp-items="ViewBag.MerchantID"></select>
                <span asp-validation-for="MerchantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceTypeID" class="control-label"></label>
                <select asp-for="PriceTypeID" class="form-control" asp-items="ViewBag.PriceTypeID"></select>
                <span asp-validation-for="PriceTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitTypeID" class="control-label"></label>
                <select asp-for="UnitTypeID" class="form-control" asp-items="ViewBag.UnitTypeID"></select>
                <span asp-validation-for="UnitTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sku" class="control-label"></label>
                <input asp-for="Sku" class="form-control" />
                <span asp-validation-for="Sku" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DefaultTaxRates" /> @Html.DisplayNameFor(model => model.DefaultTaxRates)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRevenue" /> @Html.DisplayNameFor(model => model.IsRevenue)
                </label>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedTime" class="control-label"></label>
                <input asp-for="ModifiedTime" class="form-control" />
                <span asp-validation-for="ModifiedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

