@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Custom styles for this page -->
<link href="~/css/change-password.css" rel="stylesheet">



<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <form class="form-change-password" method="post" asp-controller="Account" asp-action="ChangePassword">

                                <div class="text-md-center mb-4">
                                    <h1 class="h3 mb-3 font-weight-light">Change Password</h1>
                                    @Html.ValidationMessage("CustomError")
                                </div>

                                <div class="form-label-group">
                                    <input asp-for="OldPassword" class="form-control" placeholder="Old Password" required autofocus />
                                    <label asp-for="OldPassword"></label>
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" asp-for="NewPassword" class="form-control" placeholder="New Password" required />
                                    <label asp-for="NewPassword"></label>
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" required />
                                    <label asp-for="ConfirmPassword"></label>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>






