



  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <profile-menu></profile-menu>
      </div>
      <div class="col-md-9">
        <form *ngIf="customer" [formGroup]="editProfileForm" (ngSubmit)="onSubmit(editProfileForm.value)">

          <input type="hidden" id="id" formControlName="id" />
          <input type="hidden" id="email" formControlName="email" />
          <input type="hidden" id="password" formControlName="password" />
          <input type="hidden" id="active" formControlName="active" />
          <input type="hidden" id="createdAt" formControlName="createdAt" />
          <input type="hidden" id="modifiedTime" formControlName="modifiedTime" />

          <div class="form-group">
            <label for="firstName">
              First Name
            </label>
            <input id="firstName" type="text" formControlName="firstName" class="form-control">
          </div>
          <div class="form-group">
            <label for="middleName">
              Middle Name
            </label>
            <input id="middleName" type="text" formControlName="middleName" class="form-control">
          </div>
          <div class="form-group">
            <label for="lastName">
              Last Name
            </label>
            <input id="lastName" type="text" formControlName="lastName" class="form-control">
          </div>

          <button class="btn btn-primary" type="submit">Save Changes</button>

        </form>
      </div>
    </div>
  </div>
