@using rod.Enums;
@model RegisterListViewModel

<div class="row">
    @foreach (var item in Model.Items)
    {
        <div class="col-md-4 col-sm-4 col-12">
            <button type="button" onclick="AddLineItem(@item.ID)" class="btn btn-block h-100 w-100 line-item p-0">
                <div class="card">
                    <img class="card-img-bottom" src="https://via.placeholder.com/350x200" />
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col text-left">
                                <span class="lead">
                                    @item.ItemName
                                </span>
                            </div>
                            <div class="col-auto text-right">
                                <span class="text-muted">
                                    @{
                            var priceDisplay = string.Empty;
                            switch (item.PriceTypeID)
                            {
                                case (int)PriceTypeEnums.Fixed:
                                    priceDisplay = item.Price.HasValue ? item.Price.Value.ToString("C") : "FREE";
                                    break;
                                case (int)PriceTypeEnums.Variable:
                                    priceDisplay = "VARIABLE";
                                    break;
                            }
                                        @priceDisplay
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-left">
                                <small class="text-muted font-weight-light">
                                    @item.ItemDescription
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </button>
        </div>
    }
</div>

