@model FooterViewModel
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span><i class="far fa-copyright"></i> Administration @DateTime.Now.Year</span>
        </div>
    </div>
</footer>