

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    /*padding-bottom: 6rem;*/
    min-height: 100%;
}

/*main {
    margin: 0 auto;
    width: 94%;
}*/

@media (min-width: 991.98px) {
    /*footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }*/
}


.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.img-profile {
    height: 2rem;
    width: 2rem;
}
