
<p *ngIf="!forecast"><em>Loading...</em></p>



<h1 class="h4 text-center mb-3">
  {{address}}
</h1>

<div class="row">
  <div class="col-md">
    <div class="bg-light p-3 clearfix summary-card border border-1">
      <div class="row">
        <div class="col-md-auto">
          <canvas id="icon_currently_summary" width="100" height="100"></canvas>
        </div>
        <div class="col-md" *ngIf="forecast">
          <span class="lead">{{forecast.currently.summary}}</span>
          <br />
          <span>
            Temperature:
          </span>
          {{forecast.currently.temperature}} (F)
          <br />
          <small>
            <span>
              Feels Like:
            </span>
            {{forecast.currently.feelsLikeTemperature}} (F)
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3" id="map"></div>
  </div>
</div>

<div *ngIf="forecast">

  <h3 class="h5 text-center mb-3">Daily Summary: {{forecast.daily.summary}}</h3>
  <div class="mb-3 pb-0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>High (F)</th>
          <th>Low (F)</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of forecast.daily.data; let i = index;">
          <td>{{row.date}}</td>
          <td>{{row.temperatureHigh}}</td>
          <td>{{row.temperatureLow}}</td>
          <td>
            <!--<canvas id="icon_daily_summary_{{i}}" width="50" height="50"></canvas>-->
            {{row.summary}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 class="h5 text-center mb-3">Hourly Summary: {{forecast.hourly.summary}}</h3>
  <div class="mb-3 pb-0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Temp. (F)</th>
          <th>Feels Like (F)</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of forecast.hourly.data">
          <td>{{row.time}}</td>
          <td>{{row.temperature}}</td>
          <td>{{row.feelsLikeTemperature}}</td>
          <td>{{row.summary}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
