@using Microsoft.AspNetCore.Http;
@using Administration.Constants;
@{
    var themeCdn = Context.Session.GetString(SessionKeysConstants.THEME_CDN) ?? string.Empty;
}

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110090520-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-110090520-1');
        </script>*@

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Rob Smitha is a software developer in Tallahassee, Florida">
        <meta name="author" content="Rob Smitha">
        <title>Administration</title>

        <link rel="shortcut icon" href="https://smitha-cdn.s3.us-east-2.amazonaws.com/Content/images/rodcon-favicon.png" type="image/x-icon" />

        <environment include="Development">
            <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
            @*<link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="~/css/offcanvas.css" />*@
            <link rel="stylesheet" href="~/css/forms.css" />
        </environment>

        <environment exclude="Development">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
            @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/offcanvas.css" asp-append-version="true" />*@
            <link rel="stylesheet" href="~/css/forms.css" asp-append-version="true" />
        </environment>

        @if (!string.IsNullOrWhiteSpace(themeCdn))
        {
            <link rel="stylesheet" href="@themeCdn" />
        }

        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        

        @*TODO Add datatables to project*@
        <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    </head>