


<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<partial name="_DocumentHeadPartial" />
<body>
    <partial name="_CookieConsentPartial" />
    @await Component.InvokeAsync("Header")
    <partial name="_SystemMessagePartial" />
    <main class="mb-3 container">
        @RenderBody()
    </main>
    @await Component.InvokeAsync("Footer")
    
    @RenderSection("Scripts", required: false)
</body>
</html>
