<div class="position-absolute w-100 d-none d-sm-flex flex-column px-4">
    <div id="div_toast_message" class="toast ml-auto" style="z-index: 1" role="alert" data-delay="15000">
        <div class="toast-header">
            <strong id="toast_message" class="mr-auto text-primary"></strong>&nbsp;
            <small id="toast_timestamp"></small>
            <button type="button" class="ml-auto mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
</div>
<script>
    function ShowFeedbackMessage(message) {
        $('#toast_message').html(message)
        var d = new Date();
        $('#toast_timestamp').html(' ' + d.toLocaleTimeString() + ' ')
        $('#div_toast_message').toast('show')
    }
</script>