
@{
    ViewData["Title"] = "Home Page";
}


    <ul class="list-unstyled mt-2">
        <li>
            <a asp-action="Index" asp-controller="Blog">
                Blog
            </a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Merchants">
                Merchants
            </a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Orders">
                Orders
            </a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Items">
                Items
            </a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Customers">
                Customers
            </a>
        </li>
    </ul>