
@{
    ViewData["Title"] = "Home Page";
}

<section class="pt-2 pb-2">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="font-weight-light">Rob Smitha</h1>
            <p class="lead">
                I am a software developer in Tallahassee, Florida. During my career, I have made significant contributions to large scale customer facing projects with millions of users both commercial and recreational.
            </p>
            <a target="_blank" href="https://smitha-cdn.s3.us-east-2.amazonaws.com/Content/files/Rob+Smitha+Resume.pdf" class="btn btn-outline-primary btn-sm">
                Professional experience
            </a>
        </div>
    </div>
</section>
<hr class="w-25 my-2" />
<section class="py-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="font-weight-light">Background</h2>
            <p class="lead">
                I graduated from Florida State University with a bachelor's degree in computer science.
                My main areas of competence in computer science are .NET technologies, MVC web architecture, user interface design, web application design and development, console application programming, database design, cloud applications and APIs.
            </p>

            <div class="collapse" id="collapseExample">
                <p>
                    I work with a diverse array of programming options to deliver the best final product. My skill set of general-purpose programming languages include C#, Java, C++, PHP and Python.
                    Other areas where I am proficient are JavaScript, AJAX, Android, SQL, HTML5, CSS3, AJAX, JSON, jQuery, Git and more.
                </p>
            </div>

            <button class="btn btn-outline-dark btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Learn more
            </button>
        </div>
    </div>
</section>
<hr class="w-25 my-2" />
<section class="py-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="font-weight-light">Hands on approach</h2>
            <p class="lead">
                I also have experience working directly with clients to better understand their software needs.
                Ad hoc tasks that I have been responsible for are numerous software demonstrations and presentations, on site communications with clients during important project milestones, representation at conferences and recruitment events.
            </p>
        </div>
    </div>
</section>
<hr class="w-25 my-2" />
<section class="py-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="font-weight-light">Contact</h2>
            <p>
                Do you have questions about me or my services?
                <a href="mailto:robsmitha94@gmail.com">
                    Send me an email!
                </a>
                I would be happy to address any inquiries, issues, or feedback that you may have.
            </p>
            <small class="text-muted">
                Below are some services you can ask me about.
            </small>
            <ul class="mb-0">
                <li>
                    Scalable Web Applications
                </li>
                <li>
                    Legacy System Redesigns & Refactoring
                </li>
                <li>
                    Business & Personal Websites
                </li>
                <li>
                    Online Shopping / Ordering Solutions
                </li>
            </ul>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-lg-8 mx-auto">
            <a target="_blank" class="btn btn-outline-dark btn-sm mx-1" href="https://twitter.com/robsmitha">
                <i class="fab fa-twitter"></i><span class="sr-only">twitter</span>
            </a>
            <a target="_blank" class="btn btn-outline-dark btn-sm mx-1" href="https://www.linkedin.com/in/robsmitha/">
                <i class="fab fa-linkedin"></i><span class="sr-only">linkedin</span>
            </a>
            <a target="_blank" class="btn btn-outline-dark btn-sm mx-1" href="https://github.com/robsmitha">
                <i class="fab fa-github"></i><span class="sr-only">github</span>
            </a>
            <a class="btn btn-outline-dark btn-sm mx-1" href="mailto:robsmitha94@gmail.com">
                <i class="fas fa-envelope"></i><span class="sr-only">email</span>
            </a>
            <a target="_blank" class="btn btn-outline-dark btn-sm mx-1" href="https://smitha-cdn.s3.us-east-2.amazonaws.com/Content/files/Rob+Smitha+Resume.pdf">
                <i class="fas fa-file-pdf"></i><span class="sr-only">pdf</span>
            </a>
        </div>
    </div>
</section>