
@{
    ViewData["Title"] = "Home Page";
}
<!-- Page Header -->
<header class="masthead" style="background-image: url('https://smitha-cdn.s3.us-east-2.amazonaws.com/Content/images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Hello World</h1>
                    <span class="subheading">
                        Developer &middot; FSU Alum &middot; Hotdog Grilling Expert
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <section class="py-2">
                <h2 class="font-weight-light">Introduction</h2>
                <p class="lead">
                    I am a software developer in Tallahassee, Florida. During my career, I have made significant contributions to large scale customer facing projects with millions of users both commercial and recreational.
                </p>
                <a target="_blank" href="https://smitha-cdn.s3.us-east-2.amazonaws.com/Content/files/Rob+Smitha+Resume.pdf" class="btn btn-outline-primary btn-sm">
                    Professional experience <i class="fas fa-long-arrow-alt-right"></i>
                </a>
            </section>
        </div>
    </div>
</div>

<hr>