@model HeaderViewModel
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark shadow">
    <div class="container">
        <a class="navbar-brand mr-auto mr-lg-0 lead" asp-area="" asp-controller="Home" asp-action="Index">
            Store&nbsp;&nbsp;
        </a>
        @*<button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse bg-dark font-weight-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" title="Home">
                        <i class="fas fa-home"></i><span class="sr-only">Home</span> Home
                    </a>
                </li>
            </ul>
        </div>*@
    </div>
</nav>