@{
    ViewData["Title"] = "Home Page";
}

<h1 id="rod">rod</h1>

<h3 id="features">Features</h3>

<ul>
    <li>Customer Profile</li>

    <li>Administrative Management</li>

    <li>Administrative Roles and Permissions</li>

    <li>Communications</li>

    <li>Online Shop</li>
</ul>

<h3 id="frameworks">Frameworks</h3>

<ul>
    <li>
        .NET Core 2.2
        <a class="small" href="https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-2.2.300-windows-x64-installer" target="_blank">Download</a>
        <br />
        <small class="text-black-50">*This release is not compatible with Visual Studio 2017. Please make sure you have 2019.</small>
    </li> 

    <li>
    Entity Framework
        <br />
        <small class="text-black-50">Microsoft.EntityFrameworkCore</small>
    </li>

    <li>bootstrap 4.3.1</li>

    <li>jQuery 3.2.1</li>

    <li>Font Awesome 5</li>
</ul>

<h3 id="entities">Entities</h3>

<ul>
    <li>Merchants</li>

    <li><a asp-area="Index" asp-controller="Customers">Customers</a></li>

    <li>Employees</li>

    <li>Inventory</li>

    <li>Notifications</li>

    <li>Orders</li>

    <li>Payments</li>

    <li>Content Management</li>

    <li>Permissions</li>

    <li>Shopping Cart</li>
</ul>