
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for=" location">
        Enter Location
      </label>
      <input [(ngModel)]="address" type="text" class="form-control" (keyup.enter)="searchAddress()" placeholder="Enter Location" />
    </div>
    <div class="col-auto">
      <button type="button" (click)="searchAddress()" class="btn btn-primary btn-block">
        Get Weather
      </button>
    </div>
    <div class="col-auto">
      <button type="button" (click)="useCurrentLocation()" class="btn btn-outline-primary btn-block">
        Use Current Location
      </button>
    </div>
  </div>
