@model rod.Merchant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Merchant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MerchantName" class="control-label"></label>
                <input asp-for="MerchantName" class="form-control" />
                <span asp-validation-for="MerchantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteUrl" class="control-label"></label>
                <input asp-for="WebsiteUrl" class="form-control" />
                <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MerchantTypeID" class="control-label"></label>
                <select asp-for="MerchantTypeID" class ="form-control" asp-items="ViewBag.MerchantTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="OwnerUserID" class="control-label"></label>
                <select asp-for="OwnerUserID" class ="form-control" asp-items="ViewBag.OwnerUserID"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SelfBoardingApplication" /> @Html.DisplayNameFor(model => model.SelfBoardingApplication)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsBillable" /> @Html.DisplayNameFor(model => model.IsBillable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedTime" class="control-label"></label>
                <input asp-for="ModifiedTime" class="form-control" />
                <span asp-validation-for="ModifiedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

